@font-face {
    font-family: 'Yoster';
    src: url('./assets/fonts/yoster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



body #root {
    height: 100%;
    margin: 0;
    padding: 2rem;
    text-align: center;
    font-family: 'Yoster';
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    --background: #ffffff;
    --background-gradient-2: #fee290;
    --background-gradient-1: #a6caa5;
    --gradient-direction: to-right;
    --text-color: #6f4b22;
    --icon-color: #596627;
    --foreground-main: #feeec2;
    --button-color: #b2ba75;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(var(--background-gradient-1), var(--background-gradient-2));
    color: var(--text-color);
    padding: 1px;
    
}

.vert_div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#root .main_vert {

    height: 100vh;
    width: 30vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

#root .left_vert {
    height: 100vh;
    width: 33vw;
    margin: 0 auto;
}

#root .right_vert {
    height: 100vh;
    width: 33vw;
    margin: 0 auto;
}

.main_vert .main_box{
    margin-top: calc(50vh - 15vw);
    background-color: var(--foreground-main);
    height: calc(30vw) ; 
    border: .5rem solid;
    border-radius: 2vw;
    border-color: var(--text-color);
    width: 100%;

}

.main_box .urmom {
    
}




.main_vert .social_box {
    height: 5vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10vh;
    
}

.left_vert .book_div {
    position: relative;
    background-color: var(--button-color);
    border-radius: 50%;
    height: auto;
    width: max-content;
}

.book_div .book_button {
    border-radius: 50%;
    align-items: center;
    justify-items: center;
    background: var(--button-color);
    border-color: var(--text-color);
}

.book_button img {
    position:relative;
    top: 1px;
    height: 2vh;
}

.icon_button {
    border-radius: 50%;
    height: calc(5vh);
    width: calc(5vh);
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--button-color);

}

.icon_button img {
    height: 60%;
    filter: invert(35%) sepia(61%) saturate(417%) hue-rotate(32deg) brightness(90%) contrast(89%);    
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

