@font-face {
    font-family: "Yoster";
    src: url("./assets/fonts/yoster.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body #root {
    height: 100%;
    margin: 0;
    padding: 2rem;
    text-align: center;
    font-family: "Yoster";
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --background: #ffffff;
    --background-gradient-2: #fee290;
    --background-gradient-1: #a6caa5;
    --gradient-direction: to-right;
    --text-color: #6f4b22;
    --icon-color: #596627;
    --foreground-main: #feeec2;
    --button-color: #b2ba75;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        var(--background-gradient-1),
        var(--background-gradient-2)
    );
    color: var(--text-color);
    padding: 1px;
}

.vert_div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#root .main_vert {
    height: 100vh;
    width: 30vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

#root .left_vert,
.right_vert {
    height: 100vh;
    width: 33vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main_vert .main_box {
    margin-top: calc(50vh - 15vw);
    background-color: var(--foreground-main);
    height: calc(30vw);
    border: 0.5rem solid;
    border-radius: 2vw;
    border-color: var(--text-color);
    width: 100%;

}

.main_box .urmom {
}

.main_vert .social_box {
    height: 5vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10vh;
}

.book_rect_div h1 {
    font-size: 5px;
    margin: 0;
    line-height: 10px;
}

.book_rect_div .book_div {
    background-color: var(--button-color);
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book_div .book_button {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--button-color);
    border-color: var(--text-color);
    height: 100%;
    width: 100%;
    padding: 0;
}

.book_button img {
    max-width: 60%;
    max-height: 60%;
}

.icon_button {
    border-radius: 50%;
    height: calc(5vh);
    width: calc(5vh);
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--button-color);
}

.icon_button img {
    height: 60%;
    filter: invert(35%) sepia(61%) saturate(417%) hue-rotate(32deg)
        brightness(90%) contrast(89%);
}

.popup_overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(0, 0.1, 0, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.popup_overlay .popup_box {
    padding: 40px;
    background-color: rgba(0.1, 0.1, 0, 0.3);
    height: 80%;
    width: 50%;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}
